<%- include("header.ejs") -%>
    <link rel="stylesheet" href="css/MainCssFiles.css">
    <link rel="stylesheet" href="css/ProductPage.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/customStyle.css">
    <!-- <link rel="stylesheet" href="../CSS files/HomePage.css">  -->
    <!-- <link rel="stylesheet" href="../CSS files/Searching.css"> -->
    </head>

    <body id="body-pd">
        <%- include("navigation_bar.ejs") -%>


            <!--Container Main start-->
            <div class="nav-header ">
                <!--- Navbar --->
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid nav-center ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                            aria-controls="nvbCollapse">
                            <i class="bi bi-list"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                            <ul class="navbar-nav ">
                                <a class="nav-link ml-4" href="/main"></i>Home</a>
                                <a class="nav-link ml-4" href="/main"></i>Trend</a>
                                <a class="nav-link ml-4" href="/main"></i>Best Price</a>
                                <a class="nav-link ml-4" href="/main"></i>Offers</a>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- The Body of the page  -->
            <% var total_price = 0 %>
            <div class="row mt-3">
                <div class="col-1"></div>
                <div class="itemsContainer col">
                    <% if(0==user.cart.length){ %>
                        <div class="col mb-3 cartproducts border py-3 d-flex align-items-center justify-content-center"
                            style="width:100%;">
                            <h3 class="text-success">The cart is empty</h3>
                        </div>
                    <% }else { %>
                        <% user.cart.forEach( item=> { %>
                            <% total_price += item.product.price %>
                            <form action="/removeFromCart" method="post" id="<%= item._id %>">
                                <div class="col mb-3 cartproducts border py-3">
                                    <div class="d-flex">
                                        <div class="d-flex">
                                            <div><img
                                                    src="data:image/<%= item.product.img.contentType %>;base64,<%= item.product.img.data.toString('base64') %>"
                                                    alt="imageproduct" class="imageproduct"></div>
                                            <div class="ml-4">
                                                <p class="h3 ml-3">
                                                    <%= item.product.name %>
                                                </p>
                                                <p class="h5 ml-3">
                                                    <%= item.product.s_description %>
                                                </p>
                                                <p class="h4 ml-3">$ <%= item.product.price %>
                                                </p>
                                                <a href="#" onclick="$('#<%= item._id %>').submit()" class="text-success ml-3">Remove</a>
                                                <input type="hidden" name="itemId" value="<%= item._id %>">
                                            </div>
                                        </div>
                                        <div class="d-flex ml-5">
                                            <p class="h4">Quantity:</p>
                                            <div class="smallBox ml-4">
                                                <%= item.number %>
                                            </div>
                                            <!-- <input type="number" class="form-control border w-25 ml-3 py-1 px-1 text-center"
                                            value="1"> -->
                                        </div>
                                    </div>
                                </div>
                            </form>

                        <% }); %>
                        <input type="hidden" name="total_price" value="<%= total_price %>">
                    <% } %>
                </div>
                <div class="col col-lg-3 mx-lg-5 border checkout pt-3" style="height: fit-content; width: fit-content;">
                    <p class="h3">Information</p>
                    <div class="d-flex mt-1">
                        <label for="fname" class="form-label col-4">First name</label>
                        <p name="fname" class="form-label col-8">
                            <%= user.fname %>
                        </p>
                    </div>
                    <div class="d-flex mt-1">
                        <label for="lname" class="form-label col-4">Last name</label>
                        <p name="lname" class="form-label col-8">
                            <%= user.fname %>
                        </p>
                    </div>
                    <div class="d-flex mt-1">
                        <label for="Email" class="form-label col-4">Email Address</label>
                        <p name="Email" class="form-label col-8">
                            <%= user.email %>
                        </p>
                    </div>
                    <div class="d-flex mt-1">
                        <label for="phoneNumber" class="form-label col-4">Phone Number</label>
                        <p name="phoneNumber" class="form-label col-8">
                            <%= user.phoneNumber %>
                        </p>
                    </div>
                    <hr>
                    <div class="address d-flex">
                        <p class="h5">Address</p>
                        <p name="fname" class="form-label col-8">
                            <%= user.address.country %> - <%= user.address.state %> - <%= user.address.street %>
                        </p>
                    </div>
                    <hr>
                    <div class="payment">
                        <p class="h5 mb-4">Choose a payment method</p>
                        <div class=" py-3 px-3 paymentoption">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radio" id="Radio1" checked>
                                <label class="form-check-label" for="Radio1">Mastercard</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radio" id="Radio2">
                                <label class="form-check-label" for="Radio2">Cash on delivery</label>
                            </div>
                        </div>
                    </div>
                    
                    <form action="/checkOut" method="post">
                        <input type="hidden" name="total_price" value="<%= total_price %>">
                        <button type="submit" class="btn btn-success col py-3 my-3 btncheckout">Continue to checkout</button>
                    </form>
                </div>
            </div>



            <%- include("footer.ejs") -%>
                <script type='text/Javascript' src="searching.js"></script>
    </body>

    </html>