<%- include("header.ejs") -%>
<link rel="stylesheet" href="css/MainCssFiles.css">
<link rel="stylesheet" href="css/HomePage.css">
<link rel="stylesheet" href="css/customStyle.css">
</head>

<body id="body-pd">
    <%- include("navigation_bar.ejs") -%>
    <%- include("carousel.ejs") -%>
    
    <!-- main content of the page -->
    <div class="main_container">
        <div class="row">
            <% products.forEach(product=>{ %>
                <div class="col-lg-3 col-md-4 col-sm-6" >
                    <div class="card Item">
                        <div class="card-header">
                            <form id="<%= product._id %>" action="/productPage" method="post">
                                <a href="#" onclick="$('#<%= product._id %>').submit()"><img class="product_image"
                                    src="data:image/<%= product.img.contentType %>;base64,<%= product.img.data.toString('base64') %>"></a>
                                <input type="hidden" name="productId" value="<%= product._id %>">
                            </form>
                        </div>
                        <div class="card-body">
                            <h1>
                                <%= product.name %>
                            </h1>
                            <p>
                                <%= product.s_description %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <h1>
                                <%= product.price %> $
                            </h1>
                            <button class="pricing-button btn btn-lg btn-success w-100" type="button">Add to
                                cart</button>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
        
    </div>



    <%- include("footer.ejs") -%>
    <script type='text/Javascript' src="searching.js"></script>
</body>

</html>