<%- include("partials/header.ejs") -%>
<link rel="stylesheet" href="css/MainCssFiles.css">
<!-- <link rel="stylesheet" href="css/HomePage.css"> -->
<link rel="stylesheet" href="css/customStyle.css">
</head>

<body id="body-pd">
    <%- include("partials/navigation_bar.ejs") -%>
    <%- include("partials/carousel.ejs") -%>
    
    <!-- main content of the page -->
    <div class="main_container">
        <div class="row "> 
            <% products.forEach(product=>{ %>
                <div class="col-lg-3 col-md-4 col-sm-6" >
                    <div class="card">
                        <div class="card-header">
                            <form id="<%= product._id %>1" action="/productPage" method="post">
                                <a href="#" onclick="$('#<%= product._id %>1').submit()"><img class="product_image"
                                    src="data:image/<%= product.img.contentType %>;base64,<%= product.img.data.toString('base64') %>"></a>
                                <input type="hidden" name="productId" value="<%= product._id %>">
                            </form>
                        </div>
                        <div class="card-body">
                            <h3 class="text-dark">
                                <%= product.name %>
                            </h3>
                            <p>
                                <%= product.s_description %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <h1>
                                <%= product.price %> $
                            </h1>
                            <form action="/productPage" method="post" id="<%= product._id %>2">
                                <a onclick="$('#<%= product._id %>2').submit()" class="pricing-button btn btn-lg btn-success w-100" type="button">ADD TO CART</a>
                                <!-- <input type="hidden" name="number" value="1">
                                <input type="hidden" name="page" value="main"> -->
                                <input type="hidden" name="productId" value="<%= product._id %>">
                            </form>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
        
    </div>



    <%- include("partials/footer.ejs") -%>
    <script type='text/Javascript' src="searching.js"></script>
</body>

</html>