<%- include("header.ejs") -%>
    <link rel="stylesheet" href="css/MainCssFiles.css">
    <link rel="stylesheet" href="css/ProductPage.css">
    <link rel="stylesheet" href="css/customStyle.css">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- <link rel="stylesheet" href="../CSS files/HomePage.css">    -->
    <!-- <link rel="stylesheet" href="../CSS files/Searching.css"> -->
    </head>

    <body id="body-pd">
        <%- include("navigation_bar.ejs") -%>


            <!--Container Main start-->
            <div class="nav-header ">
                <!--- Navbar --->
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid nav-center ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                            aria-controls="nvbCollapse">
                            <i class="bi bi-list"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                            <ul class="navbar-nav ">
                                <a class="nav-link ml-4" href="/main"></i>Home</a>
                                <a class="nav-link ml-4" href="/main"></i>Trend</a>
                                <a class="nav-link ml-4" href="/main"></i>Best Price</a>
                                <a class="nav-link ml-4" href="/main"></i>Offers</a>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--# Navbar #-->
            </div>
            <!--Container Main end-->
            <!-- The Body of the page  -->
            <div class="container">
                <div class="row">
                    <div class=" col-lg-6 col-12">
                        <div class="row">
                            <div class=" col-9 p-3 mb-5 bg-light rounded ">
                                <img src="data:image/<%= product.img.contentType %>;base64,<%= product.img.data.toString('base64') %>">
                            </div>
                            <!-- <div class="mainProductImage col-2 ml-3 shadow-sm p-3 mb-5 bg-white rounded">
                            <a href="#" class="childImageDiv"><img src="../Images/3bdo.jpg"class="childImage"><a>
                            <a href="#" class="childImageDiv"><img src="../Images/laptop1.png"class="childImage"><a>
                            <a href="#" class="childImageDiv"><img src="../Images/book.jpg" class="childImage"><a>
                            <a href="#" class="childImageDiv"><img src="../Images/elec1.jpg" class="childImage"><a>
                            <a href="#" class="childImageDiv"><img src="../Images/phone1.jpg"class="childImage"><a>
                            </div> -->
                        </div>
                    </div>
                    <div class="productdetails col-lg-6 col-12 ">
                        <div class="namedes">
                            <h3 class="productname my-3">
                                <%= product.name %>
                            </h3>
                            <p class="productsmalldes">
                                <%= product.s_description %>
                            </p>
                        </div>
                        <div class=" productboxdetail">
                            <div class="rating">
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                            </div>

                            <h6 class="price my-5" ><%= product.price %> $</h6>

                            <label class="price">Number Of Pieces</label> 
                            <label class="smallBox ml-4" id="number_of_pieces_available"><%= product.number_of_pieces %></label>
                           
                            <form action="/addToCart" method="post" id="addToCart">
                                <div class="row btnonhoverproductbox my-5">
                                    <input type="number" name="number" class="form-control border col-2 mx-4 cartnum"
                                         id="number_of_pieces_ordered" value="1" required>
                                    <input type="hidden" name="page" value="productPage">
                                    <input type="hidden" name="id" value="<%= product._id %>">
                                    <button onclick="addToCart(event)" class="btn btn-success col-4 rounded">ADD TO CART</button>
                                </div>
                            </form>
                            <label class="err_msg hidden ml-4">There is no enough pieces of product</label>

                            <div class="shareproduct">
                                <p class="h4 mt-4">Share this Product</p>
                                <div class="socialIconShare">
                                    <a href="https://www.facebook.com" class="sharlink"><i class="bi bi-facebook pl-3"></i></a>
                                    <a href="#" class="sharlink"><i class="bi bi-youtube pl-3"></i></a>
                                    <a href="#" class="sharlink"><i class="bi bi-twitter pl-3"></i></a>
                                    <a href="#" class="sharlink"><i class="bi bi-instagram pl-3"></i></a>
                                    <a href="#" class="sharlink"><i class="bi bi-telegram pl-3"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Start Nav Section -->
                <nav id="navbar" class="navbar1 d-lg-block d-none d-lg-block">
                    <ul class="nav-menu">
                        <li class="nav-item"><a data-scroll="OverView" href="#OverView"
                                class="dot active nav-link active" data-toggle="tab"><span>OverView</span></a></li>
                        <li class="nav-item"><a data-scroll="Rating" href="#Rating" class="dot nav-link"
                                data-toggle="tab"><span>Rating</span></a></li>
                    </ul>
                </nav>
                <!-- End Nav Section -->
                <!-- Start Home Section -->
                <section id="OverView" class="section" style="min-height: 100px;">
                    <p class="h2">Overview</p>
                    <p><%= product.l_description %></p>
                </section>
                
                <hr>
                <Section class="section" id="Rating">

                    <p class="h4 ml-3">Rate this Product</p>
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                    
                    <div class="row mt-5">
                        <div class="col-4">
                            <p class="h2">Overall Rating</p>
                            <div class="row productboxdetail mt-2">
                                <div class=" col">
                                    <span class="bi bi-star checked"></span>
                                    <span class="bi bi-star checked"></span>
                                    <span class="bi bi-star checked"></span>
                                    <span class="bi bi-star checked"></span>
                                    <span class="bi bi-star checked"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ml-5">
                            <div class="row mt-2">
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <p class="h6 mt-1 ml-3">(50)</p>
                            </div>
                            <div class="row mt-2">
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star"></span>
                                <p class="h6 mt-1 ml-3">(76)</p>
                            </div>
                            <div class="row mt-2">
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                                <p class="h6 mt-1 ml-3">(102)</p>
                            </div>
                            <div class="row mt-2">
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star "></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                                <p class="h6 mt-1 ml-3">(10)</p>
                            </div>
                            <div class="row mt-2">
                                <span class="bi bi-star checked"></span>
                                <span class="bi bi-star "></span>
                                <span class="bi bi-star "></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                                <p class="h6 mt-1 ml-3">(50)</p>
                            </div>
                        </div>
                    </div>
                </Section>
                <hr>


                <%- include("footer.ejs") -%>
                    <script type='text/Javascript' src="searching.js"></script>
                    <script type='text/Javascript' src="productPage.js"></script>
    </body>

    </html>