<%- include("header.ejs") -%>
    <link rel="stylesheet" href="css/MainCssFiles.css">
    <link rel="stylesheet" href="css/customStyle.css">
    <!-- <link rel="stylesheet" href="../CSS files/HomePage.css">  -->
    <!-- <link rel="stylesheet" href="../CSS files/Searching.css"> -->
</head>

<body id="body-pd">
    <!-- Side bar -->
    <%- include("navigation_bar.ejs") -%>

        <!-- Side Bar -->

        <!--Container Main start-->
        <div class="nav-header ">
            <!--- Navbar --->
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid nav-center ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                        aria-controls="nvbCollapse">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                        <ul class="navbar-nav ">
                            <a class="nav-link ml-4" href="/main"></i>Home</a>
                            <a class="nav-link ml-4" href="/main"></i>Trend</a>
                            <a class="nav-link ml-4" href="/main"></i>Best Price</a>
                            <a class="nav-link ml-4" href="/main"></i>Offers</a>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--# Navbar #-->
        </div>
        <div class="filterbtn  ">
            <button class="btn btn-success">Filter</button>
        </div>
        <!--Container Main end-->
        <!-- The Body of the page  -->
        <div class=" container navigationbar ">
            <main>
                <div class="py-5">
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">Sign Up</h4>
                        <form action="/signUp" method="post">
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label"  required >First name</label>
                                    <input type="text" class="form-control border" id="firstName" required autofocus
                                        autocomplete="off" name="fname">
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label" >Last name</label>
                                    <input type="text" class="form-control border" id="lastName" required
                                        autocomplete="off" name="lname">
                                </div>

                                <div class="col-12">
                                    <label for="email" class="form-label">Email </label>
                                    <input type="email" class="form-control border" id="email" name="email"
                                        placeholder="you@example.com"  required>
                                </div>
                                <!-- <span class="text-muted"></span> -->
                                <div class="col-12">
                                    <label for="password" class="form-label">Passowrd </label>
                                    <input type="password" class="form-control border" id="password"
                                        placeholder="password" name="password" required>
                                </div>

                                <div class="col-12">
                                    <label for="phonenumber" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control border" id="phonenumber" name="phoneNumber"
                                        pattern="[0]{1}[1]{1}[0-9]{9}" maxlength="11" placeholder="01XXX XXX XXX" required>
                                </div>
                                <h4 class="m-3">Billing Address</h4>
                                <div class="col-12">
                                    <label for="address" class="form-label">Street Address</label>
                                    <input type="text" class="form-control border" id="address"
                                        placeholder="1234 Main St" name="street" required>
                                </div>

                                <div class="col-md-5">
                                    <label for="country" class="form-label">Country</label>
                                    <select class="form-select border" id="country" name="country" required>
                                        <option value="">Choose...</option>
                                        <% countries.forEach( country => { %>
                                            <option  value="<%= country %>"><%= country %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="state" class="form-label">State</label>
                                    <select class="form-select border" id="state" name="state" required>
                                        <option value="">Choose...</option>
                                        <% states.forEach( state => { %>
                                            <option value="<%= state %>"><%= state %></option>
                                        <% }); %>
                                    </select>

                                </div>

                                <div class="col-md-3">
                                    <label for="zip" class="form-label">Zip</label>
                                    <input type="text" class="form-control border" id="zip" name="zip" required>

                                </div>
                            </div>

                            <hr class="my-4">
                            <div class="form-check mb-4 form-switch">
                                <input type="checkbox" class="form-check-input checkpayment" id="save-info">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Skip payment information
                                    for now</label>
                            </div>
                            <h4 class="mb-3 paymentinformation">Payment</h4>

                            <div class="my-3 paymentinformation">
                                <div class="form-check">
                                    <input id="credit" name="paymentMethod" value="Credit card" type="radio" class="form-check-input"
                                        checked required>
                                    <label class="form-check-label" for="credit">Credit card</label>
                                </div>
                                <div class="form-check">
                                    <input id="debit" name="paymentMethod" value="Debit card" type="radio" class="form-check-input"
                                        required>
                                    <label class="form-check-label" for="debit">Debit card</label>
                                </div>
                                <div class="form-check">
                                    <input id="paypal" name="paymentMethod" value="PayPal" type="radio" class="form-check-input"
                                        required>
                                    <label class="form-check-label" for="paypal">Master Card</label>
                                </div>
                            </div>

                            <div class="row gy-3 paymentinformation">
                                <div class="col-md-6">
                                    <label for="cc-name" class="form-label">Name on card</label>
                                    <input type="text" class="form-control border" id="cc-name" name="cardName" required>
                                    <small class="text-muted">Full name as displayed on card</small>
                                </div>

                                <div class="col-md-6">
                                    <label for="cc-number" class="form-label">Credit card number</label>
                                    <input type="text" class="form-control border" id="cc-number" name="cardNumber" maxlength="16"
                                        required>

                                </div>

                                <div class="col-md-3">
                                    <label for="cc-expiration" class="form-label">Expiration</label>
                                    <input type="text" class="form-control border" id="cc-expiration" name="expiration" placeholder="06/26"
                                        maxlength="5" required>

                                </div>

                                <div class="col-md-3">
                                    <label for="cc-cvv" class="form-label">CVV</label>
                                    <input type="text" class="form-control border" id="cc-cvv" name="cvv" maxlength="3" required>
                                </div>
                            </div>

                            <hr class="my-4">

                            <button class="w-100 btn btn-success btn-lg" type="submit">Sign Up</button>
                            <p class="mt-3">You already have an account ? <a href="/">Sign In</a></p>
                        </form>
                    </div>
                </div>
            </main>
        </div>



        <%- include("footer.ejs") -%>
            <script type='text/Javascript' src="searching.js"></script>
</body>

</html>